body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
}

.App {
  text-align: center;
}

.homepage {
  display: flex;
  flex-direction: column;
}

.homepage a {
  text-decoration: none;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.alert {
  padding: 20px;
  background-color: #050505; /* Red */
  color: white;
  margin-bottom: 15px;
}

.select-device {
  width: 25%
}

.item-button {
  width: 25%;
  margin: 1px
}

.items {
  padding-top: 4px
}


